body {
  background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=1380&t=st=1691416026~exp=1691416626~hmac=e143d82bbd2313852306cce2a64dc0571ac3b7812a092603f3e57eeb7cd97934");
  margin: 0;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  padding: 24px;
  gap: 24px;
}

.note {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 16px;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  color: #333;
  resize: none;
  width: 200px;
  min-height: 130px;
  cursor: grab;
}

.note:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.note:active {
  cursor: grabbing;
}

.note-datetime {
  font-size: 12px;
  color: #777;
  margin-top: 8px;
}

.note-delete-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: none;
  font-size: 14px;
  color: #999;
  cursor: pointer;
  transition: color 0.2s;
}

.note-delete-button:hover {
  color: #ff0000;
}

.add-note {
  height: 130px;
  border: none;
  outline: none;
  background: grey;
  border-radius: 10px;
  font-size: 88px;
  color: yellowgreen;
  cursor: pointer;
  transition: background 0.2s;
}

.add-note:hover {
  background: rgba(0, 0, 0, 0.308);
}

.login-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.login-input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}

.login-button:focus {
  outline: none;
}

.login-error {
  color: #ff0000;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}
